@charset "utf-8";
/* CSS Document */

		#main{width:750px;
			 margin-left:10px;float:left;margin-left:35px;margin-right:20px;position:relative;bottom:100px;}
			 
		#search{width:250px;float:left;margin-right:30px;position:relative;bottom:100px;overflow:hidden;}
		#search #table{position:relative}
		#search #searchbox{height:25px;border-radius:25px;background:-webkit-linear-gradient(top,rgba(216,216,216,0),rgba(245,245,245,0.5),rgba(216,216,216,.0));}
		#search #searchbtn{position:absolute;top:3px;left:148px;}
		#search dl{line-height:25px;}
		#search dd{font-size:13px;}
		#search dt{color:#920A2F;}